@import "node_modules/bootstrap/dist/css/bootstrap";
//@import "node_modules/gentelella/build/css/custom";
@import "node_modules/bootstrap-wysiwyg/css/style";
@import "node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch";
@import "node_modules/jquery-confirm/css/jquery-confirm";

#files {
  overflow: hidden;
}
.file-area {
  width: 100%;
  position: relative;
  //border: 2px dashed black;
  border: 2px dashed #cccccc;
  border-radius: 0px;

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border: 2px dashed #cccccc;
    text-align: center;
    transition: background 0.3s ease-in-out;

    .success {
      display: none;
    }
  }

  &:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
  }

  input[type=file]:focus + .file-dummy {
    outline: 2px dashed #cccccc;
    outline: -webkit-focus-ring-color auto 5px;
  }

  input[type=file]:valid + .file-dummy {
    //border-color: rgb(146, 176, 179);
    background-color: #cccccc;

    .success {
      display: inline;
    }
    .default {
      display: none;
    }
  }
}
.preview {
  width: 30%;
}
.thumbnail {
  margin: 15px 0 0 11px;
  .caption {
    height: 33%;
  }
}
.required {
  color: #bd5252;
}
label.error {
  display: none;
  color: #bd5252;
}